<div class="menu-item"
  [ngClass]="{'vertical-menu': menuService.isVertical, 'router-link-active': isActiveRoute}">

  <!--how to do this and have routing work - close if there is no submenu - however routing not working now that we dont have [routerLink] -->
  <!--(click)="menuService.showingLeftSideMenu = item.submenu"-->

  <span class="glyphicon {{ item.icon }}"></span>
  <span>{{ item.text}} </span>

  <span *ngIf="item.submenu && !menuService.isVertical && !parentIsPopup"
        class="glyphicon glyphicon-menu-down"></span>
  <span *ngIf="item.submenu && !menuService.isVertical && parentIsPopup"
        class="glyphicon glyphicon-menu-right"></span>
  <span *ngIf="item.submenu && menuService.isVertical && !(mouseInPopup || mouseInItem)"
        class="glyphicon glyphicon-menu-left"></span>
  <span *ngIf="item.submenu && menuService.isVertical && (mouseInPopup || mouseInItem)"
        class="glyphicon glyphicon-menu-down"></span>        
</div>
<abs-popup-menu
  *ngIf="mouseInPopup || mouseInItem"
  [menu]='item.submenu'
  [ngClass]="{'vertical-menu': menuService.isVertical}"
  (mouseleave)="onPopupMouseLeave($event)"
  (mouseenter)="onPopupMouseEnter($event)"
  [style.left.px]="popupLeft"
  [style.top.px]="popupTop"
  @visibilityChanged>
</abs-popup-menu>