:host {
    flex-grow: 1;
}

.group {
    display: flex;
        justify-content: flex-start;
}

.index-text {
    margin:auto;
    align-items: center;
}

.index {
    display: flex;
    min-width: 40px;
    background-color: #555;
    color: white;
    font-size: 32px;

    align-items: center;
}

.index-small {
    width: 50px;
    text-align: center;
    background-color: #555;
    color: white;
    font-size: 32px;
}
.wine-image-container{
    width: 100%;
    max-width: 240px;
    padding-right: 14px;
    margin-right: 14px;
}
.wine-image {
    max-width: 240px;
    width: 100%;
    margin: 14px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.wine-image-small {
    width: 100%;
}


.wine-label-text{
display: flex;
flex-direction: column;
justify-content: space-between;
    margin-right: 10px;
    flex-grow: 1;
}
.wine-label-top{
display:flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
}
.wine-label-name{
float:left;
white-space: nowrap;
text-align: left;
    font-size: 34px;
    color: #555;
}
.wine-label-origin{
font-size: 20px;
    color: #555;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wine-label-middle{
display:flex;
    flex-direction: row;
    flex-grow: 1;
}

.wine-label-bottom{
display:flex;
flex-direction: row;
justify-content: space-between;
}
.wine-label-link{
    cursor: pointer;
    color: #555;
    padding: .5em;
    border: 1px solid #333;
    margin: 14px 0;
    min-width: 60px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
}
.wine-label-link-shop{

}
.wine-label-link-pair{

}

.wine-price {
    display: flex;
    min-width: 150px;
    font-size: 36px;
    width: 100px;
    color: white;
    background-color: pink;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.group-small {
    display: flex;
    flex-direction: column;
}

.title-group-small {
    display: flex;
    flex-direction: row;
}

.wine-label-text-small{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap;
}
.wine-price-small {
    font-size: 44px;
    color: white;
    background-color: pink;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 14px;
}
.footer-group-small{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
flex-wrap: wrap;
}
.small-footer-links{
        display: flex;
        padding-right: 14px;
}
.small-footer-links .wine-label-link{
    margin-left:14px;
}