:host {
    display: flex;
    background-color: #f5f5f5;
    flex-grow: 1;
    margin-top: 3px;
}

.body-style {
    padding: 20px;
    min-height: 100px;
    flex-grow: 1;
    overflow-y:auto;
    margin-top: -2px;
}