/* You can add global styles to this file, and also import other style files */



@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
/*@import "material-components-web/material-components-web";*/

body {
font-family: 'Open Sans', sans-serif;
}

 .demo-card {
        max-width: 21.875rem; /* 350sp */
        margin-bottom: 48px;
      }

      @media(min-width: 768px) {
        .demo-card {
          margin-bottom: 24px;
        }
      }

      .demo-card--with-avatar .mdc-card__primary {
        position: relative;
      }

      .demo-card--with-avatar .demo-card__avatar {
        position: absolute;
        background: #bdbdbd;
        height: 2.5rem; /* 40sp */
        width: 2.5rem; /* 40sp */
        border-radius: 50%;
      }

      .demo-card--with-avatar .mdc-card__title,
      .demo-card--with-avatar .mdc-card__subtitle {
        margin-left: 56px;
        /*background-color: var(--mdc-theme-primary, #7e57c2);*/
      }

      .demo-card__16-9-media {
/*        background-image: url("images/16-9.jpg");
        background-size: cover;
        background-repeat: no-repeat;*/
        height: 12.313rem; /* 197sp, for 16:9 ratio with 350sp demo card width */
      }